<div class="content">
  <input
    type="search"
    name="search"
    id="searchBar"
    (input)="onSearching()"
    value="search..."
    [(ngModel)]="searchText"
  />
  <pagination-controls
    (pageChange)="onChangePage($event)"
    previousLabel="Poprzedni"
    nextLabel="Następny"
  ></pagination-controls>
  <div class="wybieranie" (change)="onChangeSort()">
    <select name="sortowanie" id="" [(ngModel)]="Sortowanie">
      <option value="up">Rosnąco</option>
      <option value="down">Malejąco</option>
    </select>
    <select name="sortowanie" id="" [(ngModel)]="Wartosc">
      <option value="kod">Kod</option>
      <option value="ilosc">Ilosc</option>
    </select>
  </div>
  <div *ngIf="+products.length > 0; then something; else nothing"></div>
  <ng-template #something>
    <div
      *ngFor="
        let item of products
          | paginate : { itemsPerPage: 10, currentPage: page }
      "
      routerLink="/products/{{ item.kod }}"
    >
      <ul>
        <li class="name">{{ item.nazwa }}</li>
        <li>{{ item.kod }}</li>
      </ul>
    </div>
  </ng-template>
  <ng-template #nothing>
    <h2>Przepraszamy, nie znaleźliśmy wyników dla wpisanej frazy</h2>
  </ng-template>
</div>
