<div class="spacer1 layer1"></div>
<div class="content">
  <div class="text1">Dystrybucja</div>
  <div class="text1">Magazynowanie</div>
  <div class="text1">Realizacja Magazynowania</div>
</div>
<div class="box">
  <div class="box-image">
    <img src="assets/men-warehouse.jpg" alt="men1" />
  </div>
  <div class="box-text">
    <h1 class="title">O Nas</h1>
    <p>
      Nasza firma specjalizuje się w magazynowaniu oraz przekazywaniu produktów
      dla klientów z różnych branż. Mamy wieloletnie doświadczenie w trzymaniu
      magazynów, zarządzaniu zapasami, jak również przygotowywaniu i
      przekazywaniu produktów zgodnie z wymaganiami klientów.
    </p>
    <p>
      Nasze magazyny są zaprojektowane i wyposażone w sposób, który umożliwia
      nam skuteczne trzymanie i zarządzanie różnymi rodzajami towarów.
      Dysponujemy specjalistycznymi narzędziami, które pozwalają na sprawne
      przekazywanie produktów do klientów, zapewniając przy tym ich
      bezpieczeństwo oraz jakość.
    </p>
  </div>
</div>
<div class="box">
  <div class="box-image">
    <img src="../../../assets/men-warehouse2.jpg" alt="men2" />
  </div>
  <div class="box-text">
    <p>
      Zatrudniamy wykwalifikowanych pracowników, którzy są w stanie sprostać
      wszelkim wyzwaniom związanym z trzymaniem magazynów oraz przekazywaniem
      produktów. Nasi pracownicy posiadają wiedzę oraz doświadczenie, które
      pozwala na zapewnienie naszym klientom wysokiej jakości usług i
      profesjonalnej obsługi.
    </p>
    <p>
      Jeśli potrzebujesz partnera, który zapewni Ci wysokiej jakości usługi
      magazynowania oraz przekazywania produktów, skontaktuj się z nami.
      Jesteśmy gotowi podjąć się każdego wyzwania i zrobić wszystko, co w naszej
      mocy, aby sprostać Twoim oczekiwaniom.
    </p>
  </div>
</div>
